*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

body::-webkit-scrollbar {
  height: 0px;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


#header{
 position: relative;
 top: 1%;
}

#header::before{
  content: '';
  top:1%;
position: absolute;
  width: 120%;
  height: 120%;
    background: salmon;
    z-index: 1;
}


.hover:hover{
  color: rgb(223, 175, 86);
}